.container-big-card{

    margin: 0px 20px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card-title > h1 {
    font-size: 26px;
    margin-top: 15px;
}

.big-card-description{
    margin-top: 20px;
}

.big-card-description > p > a{
    color: rgb(177, 177, 177);
}

.big-card-picture > img {
    width: 100%;
    min-width: 400px;
}

